img{width: 100%;max-width: 300px;}
h1{
    position: relative;
}
h1:before{
    content: '';
    color: black;
    background-color: black;
    width: 100px;
    height: 3px;
    position: absolute;
    top: 34 px;
}